In [ ]:
import sys
root_dir = '../../../'
sys.path.append(root_dir)

In [1]:
import pickle
from utils import *

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
pd.set_option('display.max_rows', 150)

In [4]:
with open('results-e-daemon-1.pickle', 'rb') as f:
    results = pickle.load(f)

In [5]:
predictions = []
for t in results:
    predictions.append(t[0])
predictions = np.concatenate(predictions)
predictions.shape

(48000,)

In [6]:
np.isnan(predictions).sum() / len(predictions)

0.22695833333333335

In [7]:
X = []
for t in results:
    for p in t[1]:
        features = get_features(p)
        X.append(features)

In [8]:
X = np.array(X)

In [9]:
X[:5]

array([[0.0553395 , 0.01466   , 0.54945055, 0.29120879, 0.03739491],
       [0.05715951, 0.01361547, 0.64454976, 0.48341232, 0.0350949 ],
       [0.0452753 , 0.01918507, 0.82666667, 0.76888889, 0.13079095],
       [0.04547014, 0.02744191, 0.91079812, 0.87793427, 0.13020376],
       [0.05900804, 0.01563103, 0.47488584, 0.03196347, 0.05934489]])

In [10]:
np.unique(X).shape

(112069,)

In [11]:
Y = np.where(np.isnan(predictions), 0, 1)

In [12]:
data = np.c_[X, Y]

In [13]:
np.unique(data, axis=0).shape

(39463, 6)

In [14]:
data = np.unique(data, axis=0)

In [15]:
df = pd.DataFrame(data)

In [16]:
df.head()

          0         1         2         3         4    5
0  0.000000  0.000000  0.000000  0.000000  0.000000  0.0
1  0.005575  0.000687  0.962963  0.935185  0.027665  1.0
2  0.005682  0.001403  0.979866  0.979866  0.000000  1.0
3  0.005694  0.000703  0.961353  0.932367  0.027662  1.0
4  0.005909  0.000721  0.958333  0.927083  0.027665  1.0

In [17]:
df[df.iloc[:, -1] == 0].shape

(5480, 6)

In [18]:
df[df.iloc[:, -1] == 1].shape

(33983, 6)

In [19]:
df[df.iloc[:, -1] == 1].sample(5480).shape

(5480, 6)

In [20]:
df = pd.concat([
    df[df.iloc[:, -1] == 0],
    df[df.iloc[:, -1] == 1].sample(5480)
], ignore_index=True)

In [21]:
df = df.sample(frac=1)

In [22]:
df = df.reset_index(drop=True)

In [23]:
df.to_csv('e-df.csv', header=False, index=False)