In [ ]:
import sys
root_dir = '../../../'
sys.path.append(root_dir)

In [23]:
import pickle
from utils import *

In [24]:
import warnings
warnings.filterwarnings("ignore")

In [25]:
pd.set_option('display.max_rows', 150)

In [27]:
with open('results-w-daemon-1.pickle', 'rb') as f:
    results = pickle.load(f)

In [28]:
predictions = []
for t in results:
    predictions.append(t[0])
predictions = np.concatenate(predictions)
predictions.shape

(43200,)

In [29]:
np.isnan(predictions).sum() / len(predictions)

0.3782638888888889

In [30]:
X = []
for t in results:
    for p in t[1]:
        features = get_features(p)
        X.append(features)

In [31]:
X = np.array(X)

In [32]:
X[:5]

array([[0.11484681, 0.01984842, 0.78632479, 0.74358974, 0.11744515],
       [0.17543869, 0.00954341, 0.8015873 , 0.75793651, 0.07748339],
       [0.13500458, 0.0177792 , 0.85714286, 0.81632653, 0.11312021],
       [0.10341543, 0.01615481, 0.89316239, 0.89316239, 0.        ],
       [0.02751978, 0.01079922, 0.96405229, 0.9379085 , 0.06163094]])

In [33]:
np.unique(X).shape

(120083,)

In [34]:
Y = np.where(np.isnan(predictions), 0, 1)

In [35]:
data = np.c_[X, Y]

In [36]:
np.unique(data, axis=0).shape

(38095, 6)

In [37]:
data = np.unique(data, axis=0)

In [38]:
df = pd.DataFrame(data)

In [39]:
df.head()

          0         1    2    3    4    5
0  0.000000  0.000000  0.0  0.0  0.0  0.0
1  0.000676  0.000676  1.0  1.0  0.0  0.0
2  0.001280  0.001280  1.0  1.0  0.0  0.0
3  0.001304  0.001304  1.0  1.0  0.0  0.0
4  0.001324  0.001324  1.0  1.0  0.0  1.0

In [40]:
df[df.iloc[:, -1] == 0].shape

(11575, 6)

In [41]:
df[df.iloc[:, -1] == 1].shape

(26520, 6)

In [42]:
df = pd.concat([
    df[df.iloc[:, -1] == 0],
    df[df.iloc[:, -1] == 1].sample(11575)
], ignore_index=True)

In [43]:
df = df.sample(frac=1)

In [44]:
df = df.reset_index(drop=True)

In [45]:
df.to_csv('w-df.csv', header=False, index=False)