In [ ]:
import sys
root_dir = '../../../'
sys.path.append(root_dir)

In [1]:
import pickle
from utils import *

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [55]:
pd.set_option('display.max_rows', 150)

In [3]:
with open('results-daemon-1.pickle', 'rb') as f:
    results = pickle.load(f)

In [18]:
predictions = []
for t in results:
    predictions.append(t[0])
predictions = np.concatenate(predictions)
predictions.shape

(48000,)

In [20]:
np.isnan(predictions).sum() / len(predictions)

0.33377083333333335

In [22]:
X = []
for t in results:
    for p in t[1]:
        features = get_features(p)
        X.append(features)

In [25]:
X = np.array(X)

In [26]:
X[:5]

array([[0.05968727, 0.00689482, 0.92739521, 0.91167665, 0.04551637],
       [0.0964855 , 0.00424131, 0.9563932 , 0.94678492, 0.76682245],
       [0.07721074, 0.00692203, 0.92581818, 0.88436364, 0.05217204],
       [0.05107066, 0.00925426, 0.97461929, 0.96954315, 0.25994955],
       [0.03079337, 0.0052718 , 0.97463768, 0.96956522, 0.09480176]])

In [27]:
np.unique(X).shape

(171407,)

In [29]:
Y = np.where(np.isnan(predictions), 0, 1)

In [31]:
data = np.c_[X, Y]

In [36]:
np.unique(data, axis=0).shape

(43746, 6)

In [37]:
data = np.unique(data, axis=0)

In [68]:
df = pd.DataFrame(data)

In [69]:
df.head()

              0             1    2    3    4    5
0  0.000000e+00  0.000000e+00  0.0  0.0  0.0  0.0
1  0.000000e+00  0.000000e+00  1.0  1.0  0.0  0.0
2  0.000000e+00  0.000000e+00  1.0  1.0  0.0  1.0
3  2.775558e-17  2.775558e-17  1.0  1.0  0.0  1.0
4  5.551115e-17  5.551115e-17  1.0  1.0  0.0  0.0

In [70]:
df[df.iloc[:, -1] == 0].shape

(12342, 6)

In [71]:
df[df.iloc[:, -1] == 1].shape

(31404, 6)

In [72]:
df[df.iloc[:, -1] == 1].sample(12342).shape

(12342, 6)

In [73]:
df = pd.concat([
    df[df.iloc[:, -1] == 0],
    df[df.iloc[:, -1] == 1].sample(12342)
], ignore_index=True)

In [74]:
df = df.sample(frac=1)

In [75]:
df = df.reset_index(drop=True)

In [76]:
df.to_csv('df.csv', header=False, index=False)