In [ ]:
import sys
root_dir = '../../../'
sys.path.append(root_dir)

In [1]:
import pickle
from utils import *

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
pd.set_option('display.max_rows', 150)

In [4]:
with open('results-w-e-daemon-1.pickle', 'rb') as f:
    results = pickle.load(f)

In [5]:
predictions = []
for t in results:
    predictions.append(t[0])
predictions = np.concatenate(predictions)
predictions.shape

(43200,)

In [6]:
np.isnan(predictions).sum() / len(predictions)

0.2425462962962963

In [7]:
X = []
for t in results:
    for p in t[1]:
        features = get_features(p)
        X.append(features)

In [8]:
X = np.array(X)

In [9]:
X[:5]

array([[0.05809646, 0.01425726, 0.775     , 0.64166667, 0.14154296],
       [0.05036407, 0.01840122, 0.85454545, 0.77272727, 0.13144637],
       [0.05899349, 0.01799329, 0.79279279, 0.66666667, 0.13478996],
       [0.04572345, 0.02323275, 0.87407407, 0.77777778, 0.12739307],
       [0.09078151, 0.00944008, 0.60169492, 0.3220339 , 0.05589738]])

In [10]:
np.unique(X).shape

(74491,)

In [11]:
Y = np.where(np.isnan(predictions), 0, 1)

In [12]:
data = np.c_[X, Y]

In [13]:
np.unique(data, axis=0).shape

(31292, 6)

In [14]:
data = np.unique(data, axis=0)

In [15]:
df = pd.DataFrame(data)

In [16]:
df.head()

          0         1    2    3    4    5
0  0.000000  0.000000  0.0  0.0  0.0  0.0
1  0.001259  0.001259  1.0  1.0  0.0  0.0
2  0.001316  0.001316  1.0  1.0  0.0  0.0
3  0.005205  0.005205  1.0  1.0  0.0  1.0
4  0.006126  0.006126  1.0  1.0  0.0  1.0

In [17]:
df[df.iloc[:, -1] == 0].shape

(3552, 6)

In [18]:
df[df.iloc[:, -1] == 1].shape

(27740, 6)

In [19]:
df = pd.concat([
    df[df.iloc[:, -1] == 0],
    df[df.iloc[:, -1] == 1].sample(3552)
], ignore_index=True)

In [20]:
df = df.sample(frac=1)

In [21]:
df = df.reset_index(drop=True)

In [22]:
df.to_csv('w-e-df.csv', header=False, index=False)